  /*--------------- NAVIGATION(for 960px wide layout) -----------------------------------*/
	#nav1-container,
	#nav2-container,
	#nav-ad-container,#header-container{width:960px; margin:auto;padding:4px 0}
	#nav-ad-container{padding:8px 0}
	#nav1-container {	-moz-border-radius-bottomleft: 5px;
						-moz-border-radius-bottomright: 5px;
    					-webkit-border-bottom-right-radius: 5px;
						-webkit-border-bottom-left-radius: 8px;padding: 4px 0}
	#nav2-container {	-moz-border-radius-topleft: 5px;
						-moz-border-radius-topright: 5px;
    					-webkit-border-top-right-radius: 5px;
						-webkit-border-top-left-radius: 5px;padding:4px 0}
	ul.navigation{float:left;}
	.navigation {list-style-type:none;position:relative; }
	.navigation li ul {z-index:120;}
	
	.navigation ul{margin-left:-10px;position:absolute; display:none; width:162px; top:24px; background:#3789bb;padding-bottom:8px;}
	.navigation li {float:left; position:relative;margin-right:4px;}
	.navigation li:hover,.navigation li.current-menu-item a{-moz-border-radius:5px;
    				  -webkit-border-radius:5px;}
	.navigation li:hover li a{-moz-border-radius:0;
    				  -webkit-border-radius:0}
			
	.navigation a {display:block; padding:4px 10px;text-decoration:none; border: solid 1px;
						-moz-border-radius:5px;
    					-webkit-border-radius:5px; }
	.navigation ul a{-moz-border-radius:0px;
    					-webkit-border-radius:0px;}
	.navigation a:hover,.navigation li.current-menu-item a {color:#fff;}
	

	.navigation li ul { width:180px;border-width:0 1px 1px;
		-moz-border-radius-bottomleft: 8px;
		-moz-border-radius-bottomright: 8px;
    	-webkit-border-bottom-right-radius: 8px;	
		-webkit-border-bottom-left-radius: 8px;postion:relative; left:10px;top:28px}
	
	.navigation li ul a {width:160px;height:auto; float:left;
						-moz-border-radius:0;
    					-webkit-border-radius:0;border:dotted;border-width:0 0  1px; position:relative;margin-bottom:0px;}
	.navigation li ul a:hover {border:solid !important; border-width:0 0 1px!important;}
	.navigation ul ul {top:auto;}
	.navigation li ul ul {left:170px; margin:0px 0 0 10px;}
	.navigation li:hover ul ul, .navigation li:hover ul ul ul, .navigation li:hover ul ul ul ul {display:none;}
	.navigation li:hover ul, .navigation li li:hover ul, .navigation li li li:hover ul, .navigation li li li li:hover ul {display:block;}
#rss-links{float:right;margin:.5em 10px;font-size:.8em;}
ul#rss-links li{display:inline; text-decoration:none; padding:0.25em .3em;}
ul#rss-links li a{text-decoration:none;}